<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/94269268ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body class="home">
   <header class="home__header">
      <nav class="home__header--nav">
          <div class="header--nav-container">
              <a href="/"><img class="header--nav-logo" src="/images/logo-mercado-liebre.svg" alt=" logo mercado libre" ></a>
              <div class="header--nav-search">
                  <input type="search" name="q" id="buscar" placeholder="Buscar productos, marcas">
                  <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
              </div>
              <div class="header--nav-target">
                  <i class="fa-solid fa-hand-holding-dollar"></i>
                  <p>Comprá en cuotas y sin tarjeta de crédito</p>
              </div>
          </div>
          <div class="header--nav-bars">
            <button onclick="document.querySelector('.header--nav-links').classList.toggle('showMenu')"><i class="fa-solid fa-bars"></i></button>
          </div>
          <div class="header--nav-links">
              <ul>
                  <li><a href="#">Ofertas</a></li>
                  <li><a href="#">Tiendas Oficiales</a></li>
                  <li><a href="#">Vender</a></li>
                  <li><a href="#">Ayuda</a></li>
              </ul>
              <ul>
                  <li><a href="/register">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                  <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                  <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
              </ul>
          </div>
      </nav>     
  </header>
    <main class="home__main">
            <div class="home__main--banner">
              <img src="/images/img-home-banner.jpg" alt="banner">
            </div>
        <section class="home__main--sections">      
            <div>
               <h3>Basado en tu última visita</h3>
               
            </div>   
         <div class="home__main--products">
            <article class="home__main--sections-articles">
                  <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" >
              <div class="home__main--article-description">     
               <div class="home__main--sections-truck">
                  <i class="fa-solid fa-truck"></i>
               </div>   
               <div class="home__main--articles-info"> 
                  <h5 class="precio">$6.770</h5>                
                  <p class="descuento">40% OFF</p>
               </div>
                  <h6>Cafetera Moulinex</h6>
               </div>
            </article>

            <article class="home__main--sections-articles">
                 <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" >
                <div class="home__main--article-description"> 
                 <div class="home__main--sections-truck">
                    <i class="fa-solid fa-truck"></i>
                 </div>
              <div class="home__main--articles-info">
                 <h5 class="precio">$230.000</h5>                
                 <p class="descuento">20% OFF</p>
               </div>
                 <h6>MacBook Pro 2019</h6>
              </div> 
            </article>

            <article class="home__main--sections-articles">
                 <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="home__main--article-description"> 
                 <div class="home__main--sections-truck">
                    <i class="fa-solid fa-truck"></i>
                 </div>
               <div class="home__main--articles-info"> 
                 <h5 class="precio">$70.500</h5>                
                 <p class="descuento">10% OFF</p>
               </div>
                 <h6>Samsung Galaxy S10</h6>
              </div> 
            </article>

            <article class="home__main--sections-articles">
                 <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" >
                <div class="home__main--article-description"> 
                 <div class="home__main--sections-truck">
                    <i class="fa-solid fa-truck"></i>
                 </div>
               <div class="home__main--articles-info"> 
                 <h5 class="precio">$23.200</h5>                
                 <p class="descuento">5% OFF</p>
               </div>
                 <h6>SmartTv Samsung 43"</h6>
              </div> 
            </article>   
         </div> 
           </section>
          
           <section class="home__main--sections">
               <h3>Ofertas</h3>
         <div class="home__main--products">
            <article class="home__main--sections-articles">   
                 <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" >
                <div class="home__main--article-description">  
                 <div class="home__main--sections-truck">
                    <i class="fa-solid fa-truck"></i>
                 </div>
                <div class="home__main--articles-info"> 
                   <h5 class="precio">$6.770</h5>                
                   <p class="descuento">40% OFF</p>
                  </div>
                   <h6>Cafetera Moulinex</h6>
              </div> 
            </article>   

            <article class="home__main--sections-articles">
                 <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" >
                <div class="home__main--article-description"> 
                 <div class="home__main--sections-truck">
                    <i class="fa-solid fa-truck"></i>
                 </div>
                <div class="home__main--articles-info">
                    <h5 class="precio">$230.000</h5>                
                    <p class="descuento">20% OFF</p>
                  </div>
                    <h6>MacBook Pro 2019</h6>
               </div> 
            </article>      
  
            <article class="home__main--sections-articles">
               
                 <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="home__main--article-description"> 
                 <div class="home__main--sections-truck">
                    <i class="fa-solid fa-truck"></i>
                 </div>
                <div class="home__main--articles-info"> 
                    <h5 class="precio">$70.500</h5>                
                    <p class="descuento">10% OFF</p>
                  </div>
                    <h6>Samsung Galaxy S10</h6>
               </div> 
            </article>
            
            <article class="home__main--sections-articles">
                 <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" >
                <div class="home__main--article-description"> 
                 <div class="home__main--sections-truck">
                    <i class="fa-solid fa-truck"></i>
                 </div>
                <div class="home__main--articles-info"> 
                    <h5 class="precio">$23.200</h5>                
                    <p class="descuento">5% OFF</p>
                  </div> 
                    <h6>SmartTv Samsung 43"</h6>
               </div>
            </article>    
         </div>
           </section>
    </main>    
    <footer class="home__footer">
        <div class="home__footer--info">
            <section class="home__footer--info-paga">
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>

            </section>
            <section class="home__footer--info-envio">
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                
            </section>
            <section class="home__footer--info-seguridad">
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>     
        </div>            

                <p class="home__footer--copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>    
                
        </footer>
    
    
</body>
</html>